.fw-400{
    font-weight: 200;
  }
  .h-200p{
      min-height: 50vh;
      max-height: auto;
  }

  .todo-list{
    /* height: 267px; */
    height: 20vh;
}
.grey-tile {
    background: #D4D4D4 !important;
  }

  .invoice-overdue {
    color: #ffffff !important;
  }  
  .section-1-cnt {
    height: 100%;
  }
  .yellow-tile {
    background: #FFD387 !important;
  }

  table{
    width: 100%;
   }
   
   .mat-column-username {
     word-wrap: break-word !important;
     white-space: unset !important;
     flex: 0 0 28% !important;
     width: 28% !important;
     overflow-wrap: break-word;
     word-wrap: break-word;
   
     word-break: break-word;
   
     -ms-hyphens: auto;
     -moz-hyphens: auto;
     -webkit-hyphens: auto;
     hyphens: auto;
   }
   
   .mat-column-emailid {
     word-wrap: break-word !important;
     white-space: unset !important;
     flex: 0 0 25% !important;
     width: 25% !important;
     overflow-wrap: break-word;
     word-wrap: break-word;
   
     word-break: break-word;
   
     -ms-hyphens: auto;
     -moz-hyphens: auto;
     -webkit-hyphens: auto;
     hyphens: auto;
   }
   
   .mat-column-contactno {
     word-wrap: break-word !important;
     white-space: unset !important;
     flex: 0 0 17% !important;
     width: 17% !important;
     overflow-wrap: break-word;
     word-wrap: break-word;
   
     word-break: break-word;
   
     -ms-hyphens: auto;
     -moz-hyphens: auto;
     -webkit-hyphens: auto;
     hyphens: auto;
   }
   
   .mat-column-userimage {
     word-wrap: break-word !important;
     white-space: unset !important;
     flex: 0 0 8% !important;
     width: 8% !important;
     overflow-wrap: break-word;
     word-wrap: break-word;
   
     word-break: break-word;
   
     -ms-hyphens: auto;
     -moz-hyphens: auto;
     -webkit-hyphens: auto;
     hyphens: auto;
   }
   
   .mat-column-userActivity {
     word-wrap: break-word !important;
     white-space: unset !important;
     flex: 0 0 10% !important;
     width: 10% !important;
     overflow-wrap: break-word;
     word-wrap: break-word;
   
     word-break: break-word;
   
     -ms-hyphens: auto;
     -moz-hyphens: auto;
     -webkit-hyphens: auto;
     hyphens: auto;
   }

   .mymat-header{
       font-weight: bold;
   }

   /* report dashboard */
   .users{
    height: 5vh !important;
    background-color: #42A5F5;
    color: white
}
.tt-equip{
    height: 5vh !important;
    background-color: rgb(70, 60, 219);
    color: white
}
.store{
    height: 5vh !important;
    background-color: rgb(236, 149, 78);
    color: white
}
.repair{
    height: 5vh !important;
    background-color: rgb(91, 216, 98);
    color: white
}
.damaged{
    height: 5vh !important;
    background-color: rgb(236, 110, 93);
    color: white
}
.international {
  height: 50vh;
}
table {
  width: 100%;
}