<div class="panel panel-primary">
    <div class="panel-heading">
        <div>
            More Details
        </div>
        <div style="text-align: right;">
            <img src="../../../assets/images/close.png" alt="" height="20" width="20" (click)="onNoClick()">
        </div>
    </div>
    <mat-card>
        <div class="opportunity-container">
            <mat-card class="panel panel-info">
                <mat-card-header class="panel-heading">
                    Category: {{data.category}}
                </mat-card-header> <br>
                <mat-card-content>
                    Product Name: {{data.name}}
                    <hr> <br>
                    Product Price: {{data.item_price}}
                    <hr> <br>
                    <div *ngIf="data.discount_yn=='N'">
                        Discount Allowed: NO
                        <hr> <br>
                    </div>
                    <div *ngIf="data.discount_yn=='Y'">
                        Discount Allowed: YES
                        <hr> <br>
                    </div>
                    Product Quantity: {{data.quantity_from}}
                </mat-card-content>
                <textarea name="" id="" cols="38" rows="5" readonly>{{data.description}}</textarea>
            </mat-card>
        </div>
    </mat-card>
</div>