<div class="admin-child-container">

  <div class="float-content panel-primary" fxLayout="column">
    <div class="panel-heading" fxLayout="row">
      <div fxFlex="50">
        <h4 class="panel-title">List of products in current Stock</h4>
      </div>
      <div fxFlex="50">
        <!-- <mat-form-field style="text-align: left;">
          <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search Here">
        </mat-form-field> -->
        <div fxFlex fxLayout="row" fxLayoutAlign="start center">
            <mat-icon>search</mat-icon>
            <input class="search" (keyup)="applyFilter($event.target.value)" placeholder="Search for a product">
        </div>
      </div>
    </div>

    <ng-scrollbar>

      <table mat-table [dataSource]="dataSource" matSort>
        <ng-container matColumnDef="number">
          <th mat-header-cell *matHeaderCellDef> No </th>
          <td mat-cell *matCellDef="let element; let pager = index;"> {{pager + 1}} </td>
        </ng-container>


        <ng-container matColumnDef="Category">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Category </th>
          <td mat-cell *matCellDef="let element"> {{element.category}} </td>
        </ng-container>

        <!-- <ng-container matColumnDef="COMPLAIN_CATEGORY">
                          <th mat-header-cell *matHeaderCellDef mat-sort-header> Category </th>
                          <td mat-cell *matCellDef="let element"> {{element.COMPLAIN_CATEGORY}} </td>
                        </ng-container> -->

        <ng-container matColumnDef="Name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Product </th>
          <td mat-cell *matCellDef="let element"> {{element.name }} </td>
        </ng-container>

        <!-- <ng-container matColumnDef="Description">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Discription </th>
          <td mat-cell *matCellDef="let element"> {{element.description }} </td>
        </ng-container> -->

        <ng-container matColumnDef="Quantity">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Current Stock</th>
          <td mat-cell *matCellDef="let element"> {{element.quantity}} </td>
        </ng-container>

        <ng-container matColumnDef="Price">
          <th mat-header-cell *matHeaderCellDef> Selling Price </th>
          <td mat-cell *matCellDef="let element"> {{element.price}} </td>
        </ng-container>

        <ng-container matColumnDef="details">
          <th mat-header-cell *matHeaderCellDef>View Details </th>
          <td mat-cell *matCellDef="let element">
            <button mat-icon-button color="primary"
              (click)="getDetails(element.id, element.category_id, element.quantity, element.buying_price,
              element.price, element.name, element.category, element.description, element.createdBy,
               element.created_date, element.discount_yn, element.suplier, element.contolled_status, element.expire_date)">
              <mat-icon class="mat-18">visibility</mat-icon>
            </button>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

      </table>
      <mat-paginator [pageSizeOptions]="[5, 10, 15]" showFirstLastButtons></mat-paginator>
    </ng-scrollbar>


  </div>

  <hr>

</div>