<div class="panel panel-info">
        <div class="panel-heading">
            <div>
                More Details
            </div>       
           <div style="text-align: right;">
            <button (click)="onNoClick()" mat-raised-button color="warn" > <mat-icon class="mat-18">clear</mat-icon></button>
           </div>        
        </div>
        <mat-card>     
            <div class="opportunity-container">
                <mat-card class="panel panel-info">
                    <mat-card-header class="panel-heading">
                    Category: {{data.category}} 
                    </mat-card-header> <br>
                    <mat-card-content>
                        Medicine Name: {{data.name}}
                        <hr><br>
                        Controlled: {{data.controlled_status}}
                        <hr> <br>
                        Buying Price: {{data.item_buying_price}}
                        <hr> <br>
                        Selling Price: {{data.item_price}}
                        <hr> <br>
                        Expiry Date: {{data.expire_date | date: 'dd/MM/yyyy'}}
                        <hr> <br>
                        <div *ngIf="data.discount_yn=='N'">
                            Discount Allowed: NO <hr> <br>
                        </div>
                        <div *ngIf="data.discount_yn=='Y'">
                                Discount Allowed: YES <hr> <br>
                            </div>
                        Stock Quantity: {{data.quantity_from}}
                        <hr> <br>
                        Supplier: {{data.suplier}}
                    </mat-card-content> 
                    <textarea name="" id="" cols="38" rows="5" readonly>{{data.description}}</textarea>
                </mat-card>
            </div>
        </mat-card>
    </div>