<div class="panel panel-info">
    <div class="panel-heading">
        <div>
            Adding New Product/Item
        </div>
        <div style="text-align: right;">
            <button (click)="onNoClick()" mat-raised-button color="warn" > <mat-icon class="mat-18">clear</mat-icon></button>
        </div>

    </div>
    <mat-card>
        <hr>
        <div class="opportunity-container">
            <mat-form-field appearance="outline">
                <mat-label>Product Category</mat-label>
                <mat-select placeholder="Select" [(ngModel)]="newItemModel.category_id" name="category_id">
                    <mat-option *ngFor="let cat of allCategories" value={{cat.id}}>{{cat.category_name}}</mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Product Name</mat-label>
                <input matInput name="name" [(ngModel)]="newItemModel.name">
            </mat-form-field> <br>
            <mat-form-field appearance="outline">
                <mat-label>Quantity</mat-label>
                <input matInput type="number" name="quantity" [(ngModel)]="newItemModel.quantity" readonly/>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Buying Price</mat-label>
                <input type="number" matInput name="buying_price" [(ngModel)]="newItemModel.buying_price">
            </mat-form-field>
            <br>
            <mat-form-field appearance="outline">
                <mat-label>Selling Price</mat-label>
                <input type="number" matInput name="price" [(ngModel)]="newItemModel.price">
            </mat-form-field>

            <mat-form-field appearance="outline">
                    <mat-label>Allow Discount </mat-label>
                    <mat-select placeholder="Select" [(ngModel)]="newItemModel.discount_yn" name="discount_yn">
                        <mat-option value='N'>NO</mat-option>
                        <mat-option value='Y'>YES</mat-option>
                    </mat-select>
                </mat-form-field><br>
                
                    
            <mat-form-field appearance="outline">
                <mat-label>Description</mat-label>
                <textarea matInput placeholder="Description" name="description" [(ngModel)]="newItemModel.description" cols="40"></textarea>
            </mat-form-field>            
                
            <hr>
            <p style="color: red;"><Strong>N/B:</Strong><i>One Quantity of This item will be CheckedIn by default. <br> Please Add the rest through CheckIn</i></p>
            <mat-card mat-dialog-actions>
                <button mat-button color="warn" (click)="onNoClick()">CANCEL</button>
                <button mat-button color="primary" (click)="addNewItem()">SUBMIT</button>
            </mat-card>
        </div>
    </mat-card>
</div>