<div class="admin-child-container">

    <div class="float-content panel-info" fxLayout="column">
        <div class="panel-heading" fxLayout="row">
            <div fxFlex="30">
                <h4 class="panel-title">Available Expences</h4>
            </div>
            <div fxFlex="50">
                <!-- <mat-form-field style="text-align: left;">
                    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search Here">
                </mat-form-field> -->
                <div fxFlex fxLayout="row" fxLayoutAlign="start center">
                    <mat-icon>search</mat-icon>
                    <input class="search" (keyup)="applyFilter($event.target.value)" placeholder="Search Here">
                </div>
            </div>
            <div fxFlex="20">
                <button mat-raised-button color="primary" (click)="addNew()">
                    <mat-icon class="mat-19">add</mat-icon> Add Expences
                </button>                
            </div>
        </div>

        <ng-scrollbar>

            <table mat-table [dataSource]="dataSource" matSort>
                <ng-container matColumnDef="number">
                    <th mat-header-cell *matHeaderCellDef> No </th>
                    <td mat-cell *matCellDef="let element; let pager = index;"> {{pager + 1}} </td>
                </ng-container>


                <ng-container matColumnDef="Name">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Expences </th>
                    <td mat-cell *matCellDef="let element"> {{element.expence_name }} </td>
                </ng-container>

                <ng-container matColumnDef="Amount">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Expense Amount </th>
                    <td mat-cell *matCellDef="let element"> {{element.expence_amount }} </td>
                </ng-container>
                

                <ng-container matColumnDef="details">
                    <th mat-header-cell *matHeaderCellDef>Expence Details</th>
                    <td mat-cell *matCellDef="let element"> {{element.details}}</td>
                </ng-container>

                <ng-container matColumnDef="edit">
                        <th mat-header-cell *matHeaderCellDef> Edit</th>
                        <td mat-cell *matCellDef="let element">
                                <button mat-icon-button color="primary"
                                (click)="editNow(element.expence_id, element.expence_name, element.expence_amount,element.details)">
                                <mat-icon class="mat-18">edit</mat-icon> 
                            </button> 
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="delete">
                            <th mat-header-cell *matHeaderCellDef>Delete</th>
                            <td mat-cell *matCellDef="let element">
                                    <button mat-icon-button color="primary" (click)="deleteNow(element.expence_id, element.expence_name)">
                                            <mat-icon class="mat-18">delete_sweep</mat-icon>
                                        </button>
                            </td>
                        </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

            </table>
            <mat-paginator [pageSizeOptions]="[5, 10, 15]" showFirstLastButtons></mat-paginator>
        </ng-scrollbar>


    </div>

    <hr>

</div>