.p-body{
    width: 100%;
    height: 80vh;
    border: 1.5px solid rgb(240, 199, 138);
    border-radius: 6px;    
    /* margin-left: 2%;
    margin-right: 2%;    */
    background-color:#000000;
    background-image:url('../../assets/images/phamacy_background.jpg');
    background:linear-gradient(rgba(0,0,0, 0.3), rgba(0,0,0, 0.3)), url('../../assets/images/phamacy_background.jpg');
    background-position:left top;
    background-attachment:inherit;
    background-size:cover;
}
/* login */
.login-container {
    display: flex;
    flex-direction: column;
    width: 100%;    
    margin-left: 2%;
    margin-left: 2%;
    margin-top: 25vh;
  }
  
  .login-form {
    display: flex;
    flex-direction: column;
    background-color: rgba(226, 222, 222, 0.657);
  }
  
  .login-form > * {
    width: 100%;
  }

  .login-label{
      font-weight: bold;
      font-style: inherit;
  }
