<div class="admin-child-container">

        <div class="float-content panel-primary" fxLayout="column">
            <div class="panel-heading" fxLayout="row">
                <div fxFlex="30">
                    <h4 class="panel-title">Available Categories</h4>
                </div>
                <div fxFlex="70">
                    <mat-form-field style="text-align: right;">
                        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search Here">
                    </mat-form-field>
                </div>
                
            </div>
    
            <ng-scrollbar>
    
                <table mat-table [dataSource]="dataSource" matSort>
                    <ng-container matColumnDef="number">
                        <th mat-header-cell *matHeaderCellDef> No </th>
                        <td mat-cell *matCellDef="let element; let pager = index;"> {{pager + 1}}. </td>
                    </ng-container>
    
<!--     
                    <ng-container matColumnDef="CategoryId">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Category Id </th>
                        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
                    </ng-container>     -->
    
                    <ng-container matColumnDef="CategoryName">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Category Name </th>
                        <td mat-cell *matCellDef="let element"> {{element.category_name }} </td>
                    </ng-container>
    
                    <ng-container matColumnDef="Description">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Description </th>
                        <td mat-cell *matCellDef="let element"> {{element.description }} </td>
                    </ng-container>
    
                    <ng-container matColumnDef="Action">
                        <th mat-header-cell *matHeaderCellDef> View Items</th>
                        <td mat-cell *matCellDef="let element">
                            <button mat-icon-button color="primary"
                                (click)="viewNow(element.id)">
                                <mat-icon class="mat-18">visibility</mat-icon>
                            </button>
                        </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    
                </table>
                <mat-paginator [pageSizeOptions]="[5, 10, 15]" showFirstLastButtons></mat-paginator>
            </ng-scrollbar>
        </div>
    </div>