<mat-card class="admin-child-container">

    <div class="float-content panel-info" fxLayout="column">
        <div class="panel-heading" fxLayout="row">
            <div fxFlex="50">
                <h4 class="panel-title">Items of Category</h4>
            </div>
            <div fxFlex="40">
                <mat-form-field style="text-align: left;">
                    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search Here">
                </mat-form-field>
            </div>
            <div fxFlex="10">
                <div style="text-align: right;">
                    <button (click)="onNoClick()" mat-raised-button color="warn" > <mat-icon class="mat-18">clear</mat-icon></button>
                </div>
            </div>
        </div>

        <ng-scrollbar>

            <table mat-table [dataSource]="dataSource" matSort>
                <ng-container matColumnDef="number">
                    <th mat-header-cell *matHeaderCellDef> No </th>
                    <td mat-cell *matCellDef="let element; let pager = index;"> {{pager + 1}}. </td>
                </ng-container>

                <ng-container matColumnDef="ProductName">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Product Name </th>
                    <td mat-cell *matCellDef="let element"> {{element.name }} </td>
                </ng-container>

                <ng-container matColumnDef="Description">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Description </th>
                    <td mat-cell *matCellDef="let element"> {{element.description }} </td>
                </ng-container>


                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

            </table>
            <mat-paginator [pageSizeOptions]="[5, 10, 15]" showFirstLastButtons></mat-paginator>
        </ng-scrollbar>
    </div>

</mat-card>