<div class="row-float-sections" fxLayout="row">

    <div class="slider shadow panel panel-info" fxFlex="100" fxFlexOffset="2">
        <div class="panel-heading">
            Available tasks for you
        </div>
        <mat-card>

            <mat-card-content class="panel panel-success">
                <div fxLayoutAlign="space-between" class="panel-heading">
                    <mat-form-field class="w-100" appearance="outline">
                        <mat-label>Add Task to do...</mat-label>
                        <input matInput placeholder="Add Task to do..." (keyup)="addToDoItem($event)"
                            [(ngModel)]="newTodoText">
                    </mat-form-field>
                    <button mat-mini-fab color="primary" (click)="addToDoItem($event)">
                        <mat-icon>add</mat-icon>
                    </button>
                </div>

                <div class="todo-list">
                    <mat-selection-list>
                        <mat-list-option *ngFor="let item of getNotDeleted()" checkboxPosition="before"
                            (mouseenter)="item.isActive=true" (mouseleave)="item.isActive=false">
                            <div fxLayoutAlign="space-between center">
                                <span class="text-truncate">{{ item.text }}</span>
                                <button mat-icon-button (click)="item.deleted = true" color="warn"
                                    *ngIf="item.isActive">
                                    <mat-icon>delete_forever</mat-icon>
                                </button>
                            </div>
                        </mat-list-option>
                    </mat-selection-list>

                </div>
            </mat-card-content>
        </mat-card>

    </div>
</div>