<perfect-scrollbar style="width: 100%; height: auto;">
<div fxLayout="column">
  
  <div class="panel panel-primary">
    <div class="panel-heading">
      General Sales Statistics
    </div>

    <div class="row-float-sections colored-tiles" fxLayout="row" fxLayoutGap="2%" fxLayout.lt-sm="column">
      <div class="tile-1 white-solid shadow " fxFlex="30" fxFlexOffset="2">
        <div class="stats1-title " >
          <mat-card-header class="h2-header" matTooltip="Daily Sales">
            Day's Sale <mat-icon>timeline</mat-icon>
            <!-- <mat-icon aria-hidden="false" aria-label="Example home icon">add</mat-icon> -->
          </mat-card-header>
          <mat-card-content>
            Ksh. {{totalDay}}.00
          </mat-card-content>
        </div>
      </div> 
      <div class=" blue-solid shadow" fxFlex="35">
        <div class="stats1-title " >
          <mat-card-header class="h2-header" matTooltip="All Weekly sales">
            Week's Sale <mat-icon>timeline</mat-icon>
            <!-- <mat-icon aria-hidden="false" aria-label="Example home icon">add</mat-icon> -->
          </mat-card-header>
          <mat-card-content>
            Ksh. {{totalWeek}}.00
          </mat-card-content>
        </div>
      </div>
      <div class="shadow yellow-solid" fxFlex="35">
        <div class="stats1-title ">
          <mat-card-header class="h2-header" matTooltip="All Monthly Sales">
            Month's Sale <mat-icon>timeline</mat-icon>
            <!-- <mat-icon aria-hidden="false" aria-label="Example home icon">add</mat-icon> -->
          </mat-card-header>
          <mat-card-content>
            Ksh. {{totalMonth}}.00
          </mat-card-content>
        </div>
      </div>

    </div>
  </div>
  <hr>
  <!-- product activity checkins/checkouts -->
  <div class="panel panel-primary">   
    <div class="row-float-sections colored-tiles" fxLayout="row" fxLayoutGap="2%" fxLayout.lt-sm="column">
      <div class="section-1-cnt tile-1 yellow-tile shadow invoice-raised " fxFlex="30" fxFlexOffset="2">        
          <mat-card class="panel-info stats1-title">
            <button mat-raised-button color="primary" class=" panel-heading" matBadge="{{totalDayCheckInItems}}" matBadgePosition="before"
              matBadgeColor="accent" (click)="viewCheckedIn()">
              Added Stock(Today)
            </button>
            <mat-card-content class="">
              Worth Added:: Ksh. {{totalDayCheckIn}}.00 
            </mat-card-content>
          </mat-card>
      </div> 
      <div class="section-1-cnt yellow-tile shadow invoice-due panel-info" fxFlex="35">
        <mat-card class="panel-info stats1-title">
          <button mat-raised-button color="primary" class=" panel-heading" matBadge="{{totalCheckOutToday}}" matBadgePosition="before"
            matBadgeColor="accent">
            Sold Products(Today)
          </button>
          <mat-card-content class="">
            Worth Sold:: Ksh. {{totalCheckOutTodayValue}}.00
          </mat-card-content>
        </mat-card>
      </div>
      <div class="section-1-cnt yellow-tile shadow invoice-paid panel-info" fxFlex="35">
        <mat-card class="panel-info stats1-title">
          <button mat-raised-button color="primary" class=" panel-heading" matBadge="{{allDiscount}}" matBadgePosition="before"
            matBadgeColor="accent">
            Discounted Products (Today)
          </button>
          <mat-card-content class="">
            Worth Sold:: Ksh. {{totalDayDiscount}}.00
          </mat-card-content>
        </mat-card>
      </div>

    </div>
  </div>

  <hr>
<!-- pie charts representatio of user sales -->
  <!-- <div class="panel panel-primary">
    <div class="panel-heading">
      Users Performance
    </div>
    <hr>
      <div>
          <div fxFlex="100" class="international panel-info">
              <app-bubble></app-bubble>
          </div>
     </div>
  </div> -->

 
  <hr>
  <div class="panel panel-primary">
    <div class="panel-heading">
      General Activity Statistics 
    </div>
    <hr>
      <mat-card class="summary_day_week_month">
          <div fxFlex="100" class="international panel-info">
              <div class="panel-heading">Products Realtime Sales Satatistics</div> <br>
              <ngx-charts-bar-vertical-2d                    
              [scheme]="colorScheme"
              [results]="multi_sales"
              [gradient]="gradient"
              [xAxis]="showXAxis"
              [yAxis]="showYAxis"
              [legend]="showLegend"
              [showXAxisLabel]="showXAxisLabel"
              [showYAxisLabel]="showYAxisLabel"
              [xAxisLabel]="xAxisLabel"
              [yAxisLabel]="yAxisLabel"             
              (select)="onSelect($event)">
          </ngx-charts-bar-vertical-2d> 
          </div>
      </mat-card>
  </div>   
</div>
</perfect-scrollbar>