<div class="admin-child-container">

    <div class="float-content panel-primary" fxLayout="column">
        <div class="panel-heading" fxLayout="row">
            <div fxFlex="30">
                <h4 class="panel-title">Checked In Items</h4>
            </div>
            <div fxFlex="50">
                <mat-form-field style="text-align: right;">
                    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search Here">
                </mat-form-field>
            </div>
            <div fxFlex="20">
                <div style="text-align: right;">
                    <img src="../../../assets/images/close.png" alt="" height="20" width="20" (click)="onNoClick()">
                </div>
            </div>
        </div>
       
        
        <ng-scrollbar> 
          
                <table mat-table [dataSource]="dataSource" matSort>
                    <ng-container matColumnDef="number">
                        <th mat-header-cell *matHeaderCellDef > No </th>
                        <td mat-cell *matCellDef="let element; let pager = index;"> {{pager + 1}} </td>
                      </ng-container>
          
          
                    <ng-container matColumnDef="Category">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header > Category </th>
                        <td mat-cell *matCellDef="let element"> {{element.category}} </td>
                      </ng-container>
          
                    <!-- <ng-container matColumnDef="COMPLAIN_CATEGORY">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header> Category </th>
                      <td mat-cell *matCellDef="let element"> {{element.COMPLAIN_CATEGORY}} </td>
                    </ng-container> -->
                   
                    <ng-container matColumnDef="Name">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header> Product Name </th>
                      <td mat-cell *matCellDef="let element"> {{element.item }} </td>
                    </ng-container> 

                    <ng-container matColumnDef="Allowed_discount">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header> Discount Allowed </th>
                      <td mat-cell *matCellDef="let element"> 
                        <div *ngIf="element.discount_yn=='N'">NO</div>
                        <div *ngIf="element.discount_yn=='Y'">YES</div>
                      </td>
                    </ng-container>

                    <ng-container matColumnDef="InitialQuantity">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Q.Before </th>
                        <td mat-cell *matCellDef="let element"> {{element.initialItemsNumber }} </td>
                      </ng-container>
                   
                    <ng-container matColumnDef="FinalQuantity">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header > Q.After</th>
                      <td mat-cell *matCellDef="let element"> {{element.finalItemsNumber}} </td> 
                    </ng-container>
                    <ng-container matColumnDef="Buying">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> B.Price </th>
                        <td mat-cell *matCellDef="let element"> {{element.buying_price }} </td>
                      </ng-container>
                   
                    <ng-container matColumnDef="Selling">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header >S.Price</th>
                      <td mat-cell *matCellDef="let element"> {{element.selling_price}} </td> 
                    </ng-container>
                   
                    <ng-container matColumnDef="Value">
                      <th mat-header-cell *matHeaderCellDef > Value of Added </th>
                      <td mat-cell *matCellDef="let element"> {{element.value_added_items}} </td>
                    </ng-container>                
                    
                     <ng-container matColumnDef="CreatedBy">
                      <th mat-header-cell *matHeaderCellDef> User  </th>                      
                        <td mat-cell *matCellDef="let element"> {{element.createdBy}} </td>                      
                    </ng-container>  
                    <ng-container matColumnDef="CreatedDate">
                            <th mat-header-cell *matHeaderCellDef> Date & Time </th>
                            <td mat-cell *matCellDef="let element"> {{element.created_date | date: 'dd/MM/yyyy -- h:mm a'}} </td>
                          </ng-container> 
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                  
                  </table>
                  <mat-paginator [pageSizeOptions]="[5, 10, 15]" showFirstLastButtons></mat-paginator>
                </ng-scrollbar>
               

    </div>
</div>