<perfect-scrollbar style="width: 100%; height: 65vh;">
<div fxLayout="column">
  
  <div class="panel panel-primary">
    <div class="panel-heading">
      General Sales Statistics
    </div>

    <div class="row-float-sections colored-tiles" fxLayout="row" fxLayoutGap="2%" fxLayout.lt-sm="column">
      <div class="section-1-cnt tile-1 white-color shadow invoice-raised" fxFlex="30" fxFlexOffset="2">
        <div class="stats1-title " >
          <mat-card-header class="h2-header" matTooltip="Daily Sales">
            Day's Sale
            <!-- <mat-icon aria-hidden="false" aria-label="Example home icon">add</mat-icon> -->
          </mat-card-header>
          <mat-card-content>
            Ksh. {{totalDay}}.00
          </mat-card-content>
        </div>
      </div> 
      <div class="section-1-cnt blue-solid shadow invoice-due" fxFlex="35">
        <div class="stats1-title " >
          <mat-card-header class="h2-header" matTooltip="All Weekly sales">
            Week's Sale
            <!-- <mat-icon aria-hidden="false" aria-label="Example home icon">add</mat-icon> -->
          </mat-card-header>
          <mat-card-content>
            Ksh. {{totalWeek}}.00
          </mat-card-content>
        </div>
      </div>
      <div class="section-1-cnt yellow-tile shadow invoice-paid" fxFlex="35">
        <div class="stats1-title ">
          <mat-card-header class="h2-header" matTooltip="All Monthly Sales">
            Month's Sale
            <!-- <mat-icon aria-hidden="false" aria-label="Example home icon">add</mat-icon> -->
          </mat-card-header>
          <mat-card-content>
            Ksh. {{totalMonth}}.00
          </mat-card-content>
        </div>
      </div>

    </div>
  </div>
  <hr>
  <div class="panel panel-primary">
    <div class="panel-heading">
      Buble Statistics
    </div>
    <hr>
      <mat-card  >
          <div fxFlex="100" class="international panel-info">
              <app-bubble></app-bubble>
          </div>
         </mat-card>
  </div>

 
  <hr>
  <div class="panel panel-primary">
    <div class="panel-heading">
      General Activity Statistics
    </div>
    <hr>
      <mat-card>
          <div fxFlex="100" class="international panel-info">
              <div class="panel-heading">Products Realtime Sales Satatistics</div> <br>
              <ngx-charts-bar-vertical-2d                   
              [scheme]="colorScheme"
              [results]="multi_sales"
              [gradient]="gradient"
              [xAxis]="showXAxis"
              [yAxis]="showYAxis"
              [legend]="showLegend"
              [showXAxisLabel]="showXAxisLabel"
              [showYAxisLabel]="showYAxisLabel"
              [xAxisLabel]="xAxisLabel"
              [yAxisLabel]="yAxisLabel"
              (select)="onSelect($event)">
          </ngx-charts-bar-vertical-2d> 
          </div>
      </mat-card>
  </div>   
</div>
</perfect-scrollbar>