<!-- <div fxLayout="row" class="dashbaordNav" fxHide.lt-sm>
  <div fxFlex="60" style="margin-left: 20px">
    <h4 class="panel-title">Zyptech Pharmacy</h4>
  </div>
  <div fxFlex="25">

  </div>
  <div fxFlex="15">
    <p style="text-align: right">
      <!-- <img src="../../assets/images/logo.png" alt="" width="90" height="50"> -->
    <!-- </p>
  </div> -->

<!-- </div> --> 
<div *ngIf="currentUser.role=='admin'">
  <app-item-balance></app-item-balance>
</div>
<!-- <div> <app-alert></app-alert> </div> -->
<div class="container panel panel-info">

  <div fxLayout="row" fxLayout.lt-sm="column">
    <div fxFlex="20" fxFlexOffset="2.5" class="blue-menu blue-background shadow">

      <h2 class="blue-title">
        <span>Welcome</span>
      </h2>

      <!-- main left menu fxHide.lt-sm -->

      <ul class="main-menu" >
        <li> <a routerLink="/admin" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
            <mat-icon class="mat-18">account_balance</mat-icon>
            Dashboard
          </a>
        </li>
        <li>
          <a routerLink="/admin/users" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
            <mat-icon class="mat-18">supervisor_account</mat-icon>
            Users
          </a>
        </li>
        <li>
          <a routerLink="/admin/categories" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
            <mat-icon class="mat-18">store</mat-icon>
            Categories
          </a>
        </li>
        <li><a routerLink="/admin/items" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
            <mat-icon class="mat-18">receipt</mat-icon>
            Medicine 
          </a>
        </li>
        <li><a routerLink="/admin/item_discount" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
          <mat-icon class="mat-18">receipt</mat-icon>
         Dicounted 
        </a>
      </li>
        <li>
            <a routerLink="/admin/changePrice" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
              <mat-icon class="mat-18">settings</mat-icon>
              Settings
            </a>
          </li> 
        <li>
          <a routerLink="/admin/checkin" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
            <mat-icon class="mat-18">store</mat-icon>
            Cash Sale
          </a>
        </li>  
        <li>
          <a routerLink="/admin/expired" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
            <mat-icon class="mat-18">bug_report</mat-icon>
            Expired Medicine
          </a>
        </li>    
        <li>
          <a routerLink="/admin/expences" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
            <mat-icon class="mat-18">settings</mat-icon>
            Expences
          </a>
        </li>      
        <li><a routerLink="/admin/reports" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
            <mat-icon class="mat-18">date_range</mat-icon>
            Reports
          </a>
        </li>
        <li>
          <button mat-raised-button (click)="logout()">
            <mat-icon class="mat-19">settings_power</mat-icon>LogOut
          </button>
        </li>
      </ul>

    </div>
    <div fxFlex="80" class="content-holder">
      <mat-card>
        <alert></alert>
        <hr>
        <router-outlet></router-outlet>
      </mat-card>

    </div>
  </div>
</div>