<div class="panel panel-info">
    <div class="panel-heading">
        <div>
            CheckIn {{data.name}}
        </div>       
       <div style="text-align: right;">
        <button (click)="onNoClick()" mat-raised-button color="warn" > <mat-icon class="mat-18">clear</mat-icon></button>
       </div>
        
    </div>
    <mat-card>
        <alert></alert>
        <hr>
        <div class="opportunity-container">
            <mat-form-field appearance="outline">
                <mat-label>Product Name</mat-label>
                <input matInput  name="name" [(ngModel)]="data.name" readonly>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Current Quantity</mat-label>
                <input matInput name="quantity_from" [(ngModel)]="data.quantity_from" readonly>
            </mat-form-field>

            <mat-form-field>
                <mat-label>Quantity To Add</mat-label>
                <input type="number" matInput name="toadd" [(ngModel)]="checkInModel.toadd">
            </mat-form-field>
            
            <hr>
            <mat-card mat-dialog-actions>
                <button mat-button color="warn" (click)="onNoClick()">CANCEL</button>
                <button mat-button color="primary" (click)="submitCheckIn()">SUBMIT</button>
            </mat-card>
        </div>
    </mat-card>
</div>